.footer {
    padding: 5px 0;

    background-color: #4c4c4c;
    box-shadow: 0px 4px 7px 7px black;
}

.footer__logo {
  display: block;

  width: 21%;
  margin-right: auto;
  margin-left: auto;
}
