.offer {
    min-height: 651px;
    margin-top: 90px;

    background: url(images/mountains.png) center center no-repeat;
    background-color: var(--offer-bg);
    background-size: cover;
}

.offer__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.625;

    color: var(--offer-text);
}

.offer__warning {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;

    color: var(--offer-warning);
}
.offer__icon {
    margin-right: 8px;

    color: var(--offer-warning);
}
