.feedback-comments {
    display: flex;

    justify-content: space-between;
}
.feedback-comment {
    width: 50%;
    padding: 0 15px;
}

.feedback-comment__icon {
    font-size: 1.375rem;

    color: var(--content);
}


.feedback-comment__content {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.4;

    margin: 20px 0;

    text-align: justify;

    color: var(--content);
}

.feedback-comment__client {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;

    display: flex;

    color: var(--client);

    align-items: center;
}

.feedback-comment__client-photo {
    margin-right: 20px;

    border-radius: 50%;
}

.feedback-comment__client-name {
    font-weight: bold;

    margin-right: 5px;
}

@media all and (max-width: 640px) {
    .feedback-comments {
        flex-wrap: wrap;
    }
    .feedback-comment {
        width: 100%;
        margin-bottom: 20px;
    }
}
