@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/icomoon.eot?tu9dqc');
    src: url('fonts/icomoon.eot?tu9dqc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tu9dqc') format('truetype'),
    url('fonts/icomoon.woff?tu9dqc') format('woff'),
    url('fonts/icomoon.svg?tu9dqc#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;
    /* Better Font Rendering =========== */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
}

.icon-cloud:before {
    content: '\e900';
}
.icon-plane:before {
    content: '\e901';
}
.icon-leaf:before {
    content: '\e902';
}
.icon-envelope:before {
    content: '\e903';
}
.icon-user:before {
    content: '\e971';
}
.icon-wrench:before {
    content: '\e991';
}
.icon-plus:before {
    content: '\ea0a';
}
.icon-twitter:before {
    content: '\ea96';
}
