.contacts-panel-wrapper {
    display: flex;

    padding: 10rem 0;

    justify-content: center;
}

.contacts-panel {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 514px;
    padding: 40px 30px 50px;

    border-radius: 8px;
    background: url(images/bg.jpg) no-repeat;
    box-shadow: 0 15px 50px var(--panel-shadow);

    align-items: center;
    justify-content: center;
}

.contacts-panel__title {
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 36px;
    font-weight: bold;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: var(--title);
}

.contacts-panel__text {
    font-family: 'Open Sans', sans-serif;

    display: block;

    margin-bottom: 35px;

    color: var(--panel-text);
}
