.navigation__list {
    display: flex;
}

.navigation__list-item {
    font-size: 12px;

    padding: 38px 15px;

    cursor: pointer;
}

.navigation__link {
    text-decoration: none;
}

.navigation__text {
    font-family: 'Open Sans Bold', sans-serif;
    /*font-size: 12px;*/
    font-weight: bold;

    text-transform: uppercase;

    color: var(--nav-text);
}

.navigation__button {
    font-size: 12px;

    padding: 16px 44px;

    align-self: center;
}

.navigation__list-item:hover {
    font-size: 14px;

    box-shadow: 0 0 2px 0 var(--list-item-shadow);
}

.navigation__button:hover {
    color: var(--button-text);
    background-color: var(--button-color);
}

@media all and (max-width: 900px) {
    .navigation__list {
        flex-flow: row wrap;
    }
    .navigation__list-item {
        font-size: 10px;

        padding: 5px;
    }
    .navigation__button {
        padding: 10px 12px;

        border: 1px solid var(--button-color);
    }
    .navigation__list-item:hover {
        font-size: 12px;

        box-shadow: none;
    }
}
