.travel-cards {
    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;
}

.travel-card {
    font-family: 'Open Sans', sans-serif;

    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 200px;
    height: 382px;
    margin: 10px;
    padding: 15px 12px 0 20px;

    color: var(--card-text);
    border-radius: 5px;
    box-shadow: 0 0 15px var(--card-shadow);
}
.travel-card__title {
    font-size: 1.75rem;
    line-height: 2.25;

    margin-top: 100px;
}

.travel-card__description {
    font-size: 1rem;
    line-height: 1.375;
}
.travel-card__prices:before {
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;

    height: 62px;

    content: '';

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(0,0,0,0.2);
}
.travel-card__prices {
    z-index: 0;

    display: flex;

    height: 62px;
    margin-top: auto;

    align-items: center;
    justify-content: space-between;
}

.travel-card__price {
    font-size: 26px;
    font-weight: 800;

    text-align: right;
}

.travel-card__price_striked {
    font-size: 18px;
    font-weight: 400;

    text-decoration: line-through;
}

.travel-card__stars {
    letter-spacing: 4px;
}

.travel-card_carpathian {
    background: radial-gradient(circle, rgba(0,0,0,0.08) 0px, rgba(0,0,0,0) 2px), url(images/carpathian.jpg) no-repeat;
    background-size: 4px 4px, auto auto;
}

.travel-card_alps {
    background: radial-gradient(circle, rgba(0,0,0,0.08) 0px, rgba(0,0,0,0) 2px), url(images/alps.jpg) no-repeat;
    background-size: 4px 4px, auto auto;
}

.travel-card_pyrenees {
    background: radial-gradient(circle, rgba(0,0,0,0.08) 0px, rgba(0,0,0,0) 2px), url(images/pyrenees.jpg) no-repeat;
    background-size: 4px 4px, auto auto;
}

.travel-card_rocky {
    background: radial-gradient(circle, rgba(0,0,0,0.08) 0px, rgba(0,0,0,0) 2px), url(images/rocky.jpg) no-repeat;
    background-size: 4px 4px, auto auto;
}

.travel-card_kavkaz {
    background: radial-gradient(circle, rgba(0,0,0,0.08) 0px, rgba(0,0,0,0) 2px), url(images/kavkaz.jpg) no-repeat;
    background-size: 4px 4px, auto auto;
}
