.gallery {
    margin-bottom: 64px;
}

.gallery-container {
    display: flex;

    justify-content: space-between;
}
.gallery__item {
    display: flex;

    width: 25%;
    padding: 0 15px;

    flex-flow: column wrap;
}
.gallery__item--lg {
    width: 41.666667%;
}

.gallery__item--md {
    width: 33.33333%;
}

@media all and (max-width: 640px) {
    .gallery-container {
        flex-flow: column;
    }
    .gallery__item {
        width: 100%;
    }
}
