.work-steps {
    display: flex;

    margin-bottom: 35px;
}

.work-step {
    display: flex;
    flex-direction: column;

    margin: 0 30px;

    text-align: center;

    align-items: center;
    justify-content: center;
}

.work-step__number {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 3rem;

    width: 3rem;
    height: 3rem;

    color: var(--blue);
    border: 3px solid var(--blue);
    border-radius: 50%;
}

.work-step__icon {
    font-size: 3rem;

    display: flex;

    width: 179px;
    height: 179px;
    margin: 58px 0 25px 0;

    border-radius: 50%;
    background: url(images/polygon.png) center center no-repeat;
    background-color: var(--hexagon-bg);

    align-items: center;
    justify-content: center;
}

.work-step__text {
    font-family: 'Roboto', sans-serif;
}

.work-step__text_primary {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.333;

    margin-bottom: 8px;

    color: var(--text-primary);
}

.work-step__text_secondary {
    color: var(--text-secondary);
}

@media all and (max-width: 1020px) {
    .work-steps {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .work-step {
        margin-bottom: 10px;
    }
}
