.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    text-transform: uppercase;

    color: white;
    border: 3px solid #36aeea;
    border-radius: 5px;
    background-color: #36aeea;
}

.button_white {
    font-family: 'Raleway', sans-serif;

    color: #36aeea;
    background-color: transparent;
}
