.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

    cursor: pointer;
    text-transform: uppercase;

    color: var(--button-text);
    border: 3px solid var(--button-color);
    border-radius: 5px;
    background-color: var(--button-color);
}

.button_white {
    font-family: 'Raleway', sans-serif;

    color: var(--button-color);
    background-color: transparent;
}

.button:hover {
    box-shadow: black 0 0 7px;
}
