.clearfix::after {
    display: table;
    clear: both;

    content: '';
}

.clearfix-visible:after {
    display: table;
    clear: both;

    width: 100%;
    height: 10px;

    content: '';

    background: red;
}
