@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?xj89yt');
  src:  url('fonts/icomoon/icomoon.eot?xj89yt#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?xj89yt') format('truetype'),
    url('fonts/icomoon/icomoon.woff?xj89yt') format('woff'),
    url('fonts/icomoon/icomoon.svg?xj89yt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-leaf:before {
  content: "\e90c";
}
.icon-wave:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-circle-check:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-read:before {
  content: "\e902";
}
.icon-bookmark:before {
  content: "\e902";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-star:before {
  content: "\e90a";
}
.icon-3stars:before {
  content: "\e90a\e90a\e90a";
}
.icon-4stars:before {
  content: "\e90a\e90a\e90a\e90a";
}
.icon-5stars:before {
  content: "\e90a\e90a\e90a\e90a\e90a";
}
.icon-quote:before {
  content: "\e903";
}
.icon-file:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-love:before {
  content: "\e907";
}
.icon-like:before {
  content: "\e907";
}
