.footer {
    background-color: var(--footer-bg);
}

.footer-items {
    display: flex;

    padding: 20px 0;

    align-items: center;
    justify-content: space-between;
}

.footer__rights {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

    color: var(--footer-text);
}

.footer__phone {
    font-family: Roboto, sans-serif;
    font-size: 27px;
    font-weight: bold;

    color: var(--footer-text);
}

@media all and (max-width: 640px) {
    .footer-items {
        padding: 5px 0;
    }
    .footer__rights {
        font-size: 9px;
    }

    .footer__phone {
        font-size: 0.9rem;
    }
}
