.heading {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.heading_small {
    align-items: flex-start;
}

.heading__icon {
    font-size: 7px;

    margin-top: 70px;
    margin-bottom: 35px;

    opacity: 0.2;
}

.heading__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;

    margin-bottom: 70px;

    text-transform: uppercase;

    color: var(--heading-text);
}

.heading__text_small {
    font-size: 1.43rem;

    margin-bottom: 25px;
}

@media all and (max-width: 600px) {
    .heading__text {
        font-size: 1.875rem;
    }

    .heading__text_small {
        font-size: 1.25rem;
    }
}
