.footer {
    position: relative;

    padding: 5px 0;

    background-color: #4c4c4c;
    box-shadow: 0 4px 6px 6px black;
}

.footer__logo {
    display: block;

    width: 21%;
    margin-right: auto;
    margin-left: auto;
}
@media all and (max-width: 1100px) {
    .footer__logo {
        width: 25%;
    }
}
