.features {
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;

    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.26);
}

.features__item {
    padding-top: 20px;
    padding-bottom: 30px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    border-right: 1px solid #cccccc;
}

.features__icon {
    font-size: 4.1rem;
    line-height: 142%;

    color: var(--main-yellow);
}

.features__text {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 1.8rem;
    font-weight: lighter;
}
.features__item:first-child {
    border-left: 1px solid #cccccc;
}
@media all and (max-width: 1100px) {
    .features {
        width: 100%;
        box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.26);
    }

    .features__row-icons {
        padding: 0;
    }

    .features__item {
        margin: 0;

        border: none;
    }

    .features__text {
        font-size: 1.5rem;
    }

    .features__item:first-child {
        border-left: none;
    }
}

@media all and (max-width: 639px) {
    .features__text {
        font-size: 0.8rem;
    }
    .features__icon {
        font-size: 2rem;
    }
}

.features:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;

    display: block;

    width: 2500px;

    content: '';
    transform: translateX(-50%);

    background-color: #ebebeb;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, #f2f2f2 2px, #f2f2f2 4px);
}
