.social-icons {
    display: flex;

    justify-content: center;
}



.social-icons__facebook {
    padding: 0 5px;
}



@media all and (max-width: 640px) {
    .social-icons img {
        height: 20px;
    }
}
