.advantages-list__item {
    margin-bottom: 15px;

    font-size: 3rem;
    line-height: 65%;

    list-style-type: disc;

    color: var(--main-yellow);
}

.advantages-list__text {
    font-family: "PT Sans", sans-serif;
    font-size: 1.4rem;

    vertical-align: top;

    color: #a9a9a7;
}
